body {
  background-color: #ffffff;
  justify-content: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.homepage_story {
  background-color: #94cf9c;
  border-style: solid;
  border-color:  #000000;
  justify-content: left;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.homepage_comments {
  background-color: #87a6d8;
  border-style: solid;
  border-color:  #000000;
  justify-content: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

